
body {
	background: #111; margin: 0; padding: 0;
	font: 12px sans-serif;	
	color: #eee;
}

canvas {
	position: absolute;
}

.j5g3-dbg { padding-top: 50px; }
.j5g3-dbg-toolbar {
	position: absolute; top: 0; left: 0; right: 0; height: 45px;
	background-color: #333; font-size: 14px;
}
.j5g3-dbg-toolbar a {
	display: inline-block; line-height: 45px; padding: 0 15px; color: #eee;
	text-decoration: none;
}
.j5g3-dbg-toolbar .active {
	background-color: #555}
.j5g3-dbg-toolbar a:hover {
	background-color: #777; text-decoration: underline;
}

.j5g3-dbg section.active { display: block; }
.j5g3-dbg section { display: none; }
	
.j5g3-res-1080 { width: 1920px; height: 1080px; }
.j5g3-aspect-16-9 canvas { width: 100%; height: 56%; }